* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CategoryWrapper .Category {
  width: 100%;
  margin-top: 20px;
  height: auto;
  
}

.Category-row {
  background-color: white;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  position: relative; 
  overflow: hidden;
  
  animation: pulseShadow 2s infinite; 
}

.MobileWrapper {
  flex: 1 1 240px; 
  max-width: 240px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MobileCategory {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Add clicking effect for MobileCategory */
.MobileCategory:active {
  transform: scale(0.95); /* Slightly shrink the category card */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Change the shadow on click */
}

.MobileCategory:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 0 8px rgba(157, 19, 231, 0.997) !important;
}

.category-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Add clicking effect for category-img */
.category-img:active {
  transform: scale(0.95); /* Slightly shrink the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Change the shadow on click */
}

.category-img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.MobileWrapper p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

@media (max-width: 768px) {
  .MobileWrapper {
    flex: 1 1 160px;
    max-width: 160px; 
  }

  .category-img {
    max-width: 160px;
  }

  .MobileWrapper p {
    font-size: 14px;
  }
}
