* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
  
  .HomeBannerSection {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
    /* Apply shadow and dim light effect */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2),   /* darker shadow */
                0 8px 20px rgba(98, 182, 250, 0.3); /* soft light blue shadow similar to bg color */
    background-color: rgba(255, 255, 255, 0.8); /* light background to complement the shadow */
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .HomeBannerSection:hover {
    /* Intensify the shadow effect on hover */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 
                0 10px 25px rgba(98, 182, 250, 0.5);
  }
  
  .HomeBannerSection .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity 0.3s ease;
  }
  
  .HomeBannerSection .slick-arrow:hover {
    opacity: 1;
  }
  
  .HomeBannerSection .slick-arrow.slick-prev {
    left: 10px;
  }
  
  .HomeBannerSection .slick-arrow.slick-next {
    right: 10px;
  }
  
  .HomeBannerSection .slick-dots {
    bottom: 20px;
  }
  
  .HomeBannerSection .slick-dots li button:before {
    color: white;
  }
  .CategoryDisplay{
    position: absolute !important;
     top: 45% !important;
     left: 248px;
     align-items: center;

  }