.order-history {
  padding: 20px;
  background-color: #f9f9f9;
  flex: 1;
}

h2 {
  color: #1a1a1a;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.order-table th,
.order-table td {
  padding: 12px 16px;
  text-align: left;
}

.order-table th {
  color: #6c757d;
  font-weight: 600;
}

.order-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.status.delivered {
  background-color: #28a745;
}

.status.shipping {
  background-color: #6f42c1;
}

.status.pending {
  background-color: #ffc107;
}

.invoice-button {
  background-color: #6f42c1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.invoice-button:hover {
  background-color: #5a32a3;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white; 
}



@media (max-width: 480px) {
  h2 {
      font-size: 1.2rem;
  }
 
  .order-table tr {
      display: flex;
      flex-direction: column;
      width: 100% !important;
  }}


  .first-row {
      display: none !important;
  }

  .order-table th, .order-table td {
      padding: 8px 6px;
  }

 /* .product-info img {
      width: 35px; 
      height: 35px;
  }

  .status {
      font-size: 0.7rem;
  }

  .invoice-button {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      padding: 6px;
      font-size: 0.8rem;
      width: 300px;
  }

  .order-table {
      margin-top: 10px; 
  }
}  */
